* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    margin: 0;
    padding: 0;
}

#logo {
    width: 250px;
    height: auto;
    margin: 2px;
    font-size: 3vh;
}

#logo a {
    color: white; 
    text-decoration: none; 
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
}

#logo a:hover {
    color: #cccccc; 
}

#nav-bar {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: -11vh;
    margin-right: 6vh;
    font-size: 35px;
}
#nav-bar a {
    color: white; 
    text-decoration: none; 
}


#nav-bar a:hover {
    color: #cccccc; 
}

#header {

    width: 100%;
    height: 118px;
    background-color: darkslategrey;
    margin-top: -7px;
}

#content {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    text-align: center;    
    margin-top: 100px;      
}

#h1 {
    font-size: 60px;
    margin-bottom: 10px;    
    text-transform: capitalize; 
}

#p1 {
    font-size: 24px;
    font-weight: normal;
    max-width: 600px;       
}